.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  box-shadow: 0 2px rgb(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
  z-index: 20;

  a {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
  }
}

.headerName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  img {
    background: transparent;
    width: 20px;
    height: 20px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;

  .buttonSidebar {
    display: none;
  }
}

@media (max-width: 1243px) {
  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    .buttonSidebar {
      display: block;
    }
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
