.titleContainer {
  width: 1053px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 32px;
}

.line {
  width: 290px;
  height: 2px;
  background: rgb(71, 71, 71);
}

@media (max-width: 1024px) {
  .titleContainer {
    width: 800px;
  }
}

@media (max-width: 770px) {
  .titleContainer {
    width: 630px;
  }
}

@media (max-width: 520px) {
  .titleContainer {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .titleContainer {
    margin-top: 10px;
    width: 355px;
  }
}
