.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

@media (max-width: 1024px) {
  .main {
    overflow-x: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
}
